<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

	<appSettings>
		<add key="GeminiApiKey" value="YOUR_GEMINI_API_KEY"/>
	</appSettings>



	<connectionStrings>
        <add name="QuanLyBanHangWatsons.Properties.Settings.QuanLyBanHangWatsonsConnectionString"
            connectionString="Data Source=DESKTOP-L2OD0ED\SQLEXPRESS;Initial Catalog=QuanLyBanHangWatsons;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>